.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2rem;
}
@media (min-width: 320px) and (max-width: 374px) {
  .header {
    margin: 1rem;
  }
}
@media (min-width: 768px) {
  .header {
    margin: 2rem 5rem;
  }
}
@media (min-width: 1366px) {
  .header {
    margin: 2rem 8rem;
  }
}
@media (min-width: 1920px) {
  .header {
    margin: 4rem 16rem;
  }
}
.header__logo {
  width: 6rem;
  display: flex;
  align-self: center;
  justify-content: space-between;
}
.header .nav {
  font-family: "Mulish", sans-serif;
  font-size: 1.7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 1366px) {
  .header .nav {
    flex-direction: row;
    width: 25rem;
    align-items: center;
  }
}
@media (min-width: 1920px) {
  .header .nav {
    width: 40rem;
  }
}
.header .nav__link {
  position: relative;
  display: inline-block;
  text-align: right;
  text-decoration: none;
  list-style-type: none;
  color: white;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  transition: transform 200ms ease-in-out;
}
.header .nav__link::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 50%;
  width: 0;
  height: 1px;
  background-color: white;
  transform: translateX(-50%);
  transform-origin: center;
  transition: width 250ms ease-in-out;
}
.header .nav__link:hover::after {
  width: 100%;
}

.hero {
  color: white;
  margin: 0 2rem 2rem 2rem;
}
@media (min-width: 320px) and (max-width: 374px) {
  .hero {
    margin: 1rem 1rem 2rem 1rem;
  }
}
@media (min-width: 768px) {
  .hero {
    margin: 0 5rem 2rem 5rem;
  }
}
@media (min-width: 1366px) {
  .hero {
    margin: 4rem 8rem 2rem 8rem;
  }
}
@media (min-width: 1920px) {
  .hero {
    margin: 8rem 16rem;
  }
}
.hero__title {
  font-size: 4.5rem;
  font-family: "JosefinSlab", sans-serif;
  letter-spacing: 0.3rem;
  text-align: center;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
@media (min-width: 1366px) {
  .hero__title {
    margin-top: 2rem;
  }
}
@media (min-width: 1440px) {
  .hero__title {
    font-size: 5.5rem;
  }
}
@media (min-width: 1920px) {
  .hero__title {
    font-size: 7rem;
  }
}
.hero__work {
  font-size: 2rem;
  font-family: "SpaceMonoregular", sans-serif;
  text-align: center;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
@media (min-width: 320px) and (max-width: 374px) {
  .hero__work {
    font-size: 1.8rem;
  }
}
@media (min-width: 1440px) {
  .hero__work {
    font-size: 2.5rem;
  }
}
@media (min-width: 1920px) {
  .hero__work {
    font-size: 4rem;
  }
}
.hero__text {
  font-size: 1.2rem;
  font-family: "Mulish", sans-serif;
  text-align: justify;
  margin: 1rem;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
@media (min-width: 320px) and (max-width: 374px) {
  .hero__text {
    margin: 1rem 0 0 0;
  }
}
@media (min-width: 1366px) {
  .hero__text {
    margin: 2rem 8rem;
    font-size: 1.4rem;
  }
}
.hero__link {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  font-family: "SpaceMonoregular", sans-serif;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 1rem 2rem 0 2rem;
}
@media (min-width: 768px) {
  .projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: 1rem 1rem 0 1rem;
  }
}
@media (min-width: 1366px) {
  .projects {
    gap: 3rem;
    margin: 0 2rem;
  }
}
@media (min-width: 1920px) {
  .projects {
    gap: 4rem;
    margin: 0 8rem;
  }
}
.projects__card {
  margin: 1rem 0;
  width: 100%;
  transition: transform 190ms ease-in-out;
}
.projects__card:hover {
  transform: scale(1.02);
}
@media (min-width: 768px) {
  .projects__card {
    height: 90%;
  }
}
.projects__card__link {
  text-decoration: none;
  color: white;
}
.projects__card__link__title {
  font-family: "SpaceMonoregular", sans-serif;
  font-size: 2rem;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
@media (min-width: 1920px) {
  .projects__card__link__title {
    font-size: 2.5rem;
  }
}
.projects__card__link__text {
  font-family: "Mulish", sans-serif;
  font-size: 1.2rem;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
@media (min-width: 1366px) {
  .projects__card__link__text {
    font-size: 1.4rem;
  }
}

.container {
  margin: 2rem 0;
}
.container__img {
  width: 100%;
  height: 100%;
}

.projectTitle {
  font-size: 3.3rem;
  letter-spacing: 0.2rem;
}
@media (min-width: 320px) and (max-width: 374px) {
  .projectTitle {
    font-size: 3rem;
  }
}
@media (min-width: 1920px) {
  .projectTitle {
    font-size: 5rem;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}
@media (min-width: 768px) {
  .contact {
    margin: 2rem 5rem;
  }
}
@media (min-width: 1366px) {
  .contact {
    margin: 4rem 8rem;
  }
}
@media (min-width: 1920px) {
  .contact {
    margin: 8rem 16rem;
  }
}
.contact__title {
  font-family: "SpaceMonoRegular", sans-serif;
  font-size: 2rem;
  text-align: center;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  color: white;
  margin: 0 2rem 2rem 2rem;
}
@media (min-width: 768px) {
  .contact__title {
    font-size: 2rem;
    letter-spacing: 0.3rem;
  }
}
@media (min-width: 1366px) {
  .contact__title {
    font-size: 2.5rem;
  }
}
@media (min-width: 1920px) {
  .contact__title {
    font-size: 3rem;
  }
}
.contact__text {
  font-family: "SpaceMonoregular", sans-serif;
  color: white;
  text-align: left;
  text-decoration: none;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  transition: transform 150ms ease-in-out;
}
.contact__text:hover {
  transform: scale(1.02);
}
@media (min-width: 768px) {
  .contact__text {
    font-size: 1.5rem;
  }
}

.me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem 0 2rem 0;
}
@media (min-width: 1366px) {
  .me {
    margin: 4rem 0 2rem 0;
  }
}
@media (min-width: 1366px) {
  .me {
    margin: 8rem 0 2rem 0;
  }
}
.me__title {
  font-family: "SpaceMonoRegular", sans-serif;
  font-size: 2rem;
  text-align: center;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  color: white;
  margin: 0 0 2rem 0;
}
@media (min-width: 320px) and (max-width: 374px) {
  .me__title {
    font-size: 1.5rem;
  }
}
@media (min-width: 1366px) {
  .me__title {
    font-size: 2.5rem;
  }
}
@media (min-width: 1920px) {
  .me__title {
    font-size: 3rem;
    margin: 2rem;
  }
}
.me__text {
  font-size: 1.2rem;
  font-family: "Mulish", sans-serif;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
@media (min-width: 320px) and (max-width: 374px) {
  .me__text {
    font-size: 1rem;
  }
}
@media (min-width: 768px) {
  .me__text {
    font-size: 1.2rem;
    text-align: justify;
    margin: 0 2rem;
  }
}
@media (min-width: 1366px) {
  .me__text {
    font-size: 1.5rem;
    margin: 0 4rem 2rem 4rem;
  }
}
@media (min-width: 1920px) {
  .me__text {
    font-size: 1.5rem;
    margin: 2rem 6rem;
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}
.footer__text {
  display: flex;
  flex-direction: column;
  font-family: "Mulish", sans-serif;
  color: white;
  letter-spacing: 0.3rem;
  font-size: 0.8rem;
  text-align: center;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
.footer__text__link {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  transition: transform 150ms ease-in-out;
}
.footer__text__link:hover {
  transform: scale(1.05);
}
@media (min-width: 1366px) {
  .footer__text__link {
    font-size: 1.5rem;
  }
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0 0 0;
}
@media (min-width: 1366px) {
  .skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: 4rem 8rem;
    align-items: start;
  }
}
@media (min-width: 1920px) {
  .skills {
    margin: 4rem 20rem;
  }
}
@media (min-width: 1366px) {
  .skills__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.skills__container__title {
  font-family: "SpaceMonoregular", sans-serif;
  font-size: 2rem;
  color: white;
  letter-spacing: 0.2rem;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
@media (min-width: 1920px) {
  .skills__container__title {
    font-size: 3rem;
  }
}
.skills__container__list {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 1rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
@media (min-width: 1366px) {
  .skills__container__list {
    gap: 2rem;
  }
}
.skills__container__list .text-right {
  text-align: right;
}
.skills__container__list__text {
  color: white;
  font-family: "Mulish", sans-serif;
  font-size: 1.2rem;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
@media (min-width: 320px) and (max-width: 374px) {
  .skills__container__list__text {
    font-size: 1rem;
  }
}
@media (min-width: 1366px) {
  .skills__container__list__text {
    font-size: 1.4rem;
  }
}
@media (min-width: 1366px) {
  .skills__container__list__text {
    font-size: 1.4rem;
  }
}

@font-face {
  font-family: "SpaceMonoBold";
  src: url("../fonts/SpaceMono-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "SpaceMonoRegular";
  src: url("../fonts/SpaceMono-Regular.ttf") format("truetype");
  font-weight: 900;
}
@font-face {
  font-family: "JosefinSlab";
  src: url("../fonts/JosefinSlab-regular.ttf") format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: "JosefinSlabItalic";
  src: url("../fonts/JosefinSlab-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-Regular.ttf") format("truetype");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bg {
  width: 100%;
  height: 100%;
}
.bg__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.glassmorphism {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px) saturate(100%);
  -webkit-backdrop-filter: blur(2px) saturate(80%);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  padding: 2rem;
}

/*# sourceMappingURL=main.css.map */
