.contact {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  @media (min-width: 768px){
    margin: 2rem 5rem;
  }
  @media (min-width: 1366px){
    margin: 4rem 8rem;
  }
  @media (min-width: 1920px){
    margin: 8rem 16rem;
  }
  &__title {
    font-family: 'SpaceMonoRegular', sans-serif;
    font-size: 2rem;
    text-align: center;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    color: white;
    margin: 0 2rem 2rem 2rem;
    @media (min-width: 768px) {
      font-size: 2rem;
      letter-spacing: 0.3rem;
    }
    @media (min-width: 1366px){
      font-size: 2.5rem;
    }
    @media (min-width: 1920px){
      font-size: 3rem;
    }
  }
  &__text {
    font-family: 'SpaceMonoregular', sans-serif;
    color: white;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    transition: transform 150ms ease-in-out;
    &:hover {
        transform: scale(1.02);
    }
    @media (min-width: 768px){
      font-size: 1.5rem;
    }

  }
}

.me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem 0 2rem 0;
  @media (min-width: 1366px){
    margin: 4rem 0 2rem 0;
  }
  @media (min-width: 1366px){
    margin: 8rem 0 2rem 0;
  }
  &__title {
    font-family: 'SpaceMonoRegular', sans-serif;
    font-size: 2rem;
    text-align: center;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    color: white;
    margin: 0 0 2rem 0;
    @media (min-width: 320px) and (max-width: 374px) {
      font-size: 1.5rem;
    }
    @media (min-width: 1366px){
      font-size: 2.5rem;
    }
    @media (min-width: 1920px){
      font-size: 3rem;
      margin: 2rem;
    }
  }
  &__text {
    font-size: 1.2rem;
    font-family: 'Mulish', sans-serif;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    @media (min-width: 320px) and (max-width: 374px) {
      font-size: 1rem;
    }
    @media (min-width: 768px) {
      font-size: 1.2rem;
      text-align: justify;
      margin: 0 2rem;
    }
    @media (min-width: 1366px){
      font-size: 1.5rem;
      margin: 0 4rem 2rem 4rem;
    }
    @media (min-width: 1920px){
      font-size: 1.5rem;
      margin: 2rem 6rem;
    }
  }
}