.contact {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  &__title {
    font-family: 'SpaceMonoRegular', sans-serif;
    font-size: 2rem;
    text-align: center;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    color: white;
    margin: 0 2rem 2rem 2rem;
  }
  &__text {
    font-family: 'SpaceMonoregular', sans-serif;
    color: white;
    text-align: left;
      text-decoration: none;
      color: white;
      transition: transform 150ms ease-in-out;
      &:hover {
        transform: scale(1.05);
      }
    //text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  }
}

.me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem 0 2rem 0;
  &__title {
    font-family: 'SpaceMonoRegular', sans-serif;
    font-size: 2rem;
    text-align: center;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    color: white;
    margin: 0 0 2rem 0;
  }
  &__text {
    font-size: 1.2rem;
    font-family: 'Mulish', sans-serif;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  }
}