.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  &__text {
    font-family: 'Mulish', sans-serif;
    color: white;
    letter-spacing: 0.3rem;
    text-align: center;
    //text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  }
}