.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  &__text {
    display: flex;
    flex-direction: column;
    font-family: 'Mulish', sans-serif;
    color: white;
    letter-spacing: 0.3rem;
    font-size: 0.8rem;
    text-align: center;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    &__link {
      text-decoration: none;
      color: white;
      font-size: 1.2rem;
      transition: transform 150ms ease-in-out;
      &:hover {
        transform: scale(1.05);
      }
      @media (min-width: 1366px){
        font-size: 1.5rem;
      }
    }
  }
}