.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0 0 0;

  @media (min-width: 1366px){
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: 4rem 8rem;
    align-items: start;
  }
  @media (min-width: 1920px){
    margin: 4rem 20rem;
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: 1366px){
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  &__title {
    font-family: 'SpaceMonoregular', sans-serif;
    font-size: 2rem;
    color: white;
    letter-spacing: 0.2rem;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    @media (min-width: 1920px){
      font-size: 3rem;
    }
  }
  &__list {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 1rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    @media (min-width: 1366px){
      gap: 2rem;
    }
.text-right {
  text-align: right;
}
    &__text {
      color: white;
      font-family: 'Mulish', sans-serif;
      font-size: 1.2rem;
      text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
      @media (min-width: 320px) and (max-width: 374px) {
        font-size: 1rem;
      }
      @media (min-width: 1366px){
        font-size: 1.4rem;
      }
      @media (min-width: 1366px){
        font-size: 1.4rem;
      }
    }
  }
  }
}